<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title id="page-title">RateMyTone - Welcome!</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/imgs/favicon-32x32.png" />
    <link rel="stylesheet" href="/css/style.css" />
</head>
<nav>
    <div class="navbar bg-base-100">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" href="/">
                <img src="imgs/vis.svg" alt="" width="50" height="50"><span class="pl-2">ratemytone</span>
            </a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li><a class="btn btn-ghost normal-case" href="/login">Login</a></li>
                <li><a class="btn btn-ghost normal-case" href="/signup">Sign up</a></li>
            </ul>
        </div>
    </div>
</nav>
